<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GreadColorCurve.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55C0E8E11F2F06960084D499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55C0E8FA1F2F06970084D499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55C0E9051F2F06970084D499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
